    .box{
        width: 100px;
        height: 100px;
        text-align: center;
        color: white;
        margin: 10px;
        border-radius: 5px;
    }

    .a{
        background-color: yellowgreen;
    }

    .b{
        background-color: violet;
    }

    .c{
        background-color: cornflowerblue;
    }