.about__title{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 0.8rem 0;
}

.about__line{
    padding-top: 2rem;
    display: flex;
    width: 100px;
    margin: 0 auto;
    border-bottom: 1px solid;
}

.about__nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 5rem;
}

.about__nav li{
    cursor: pointer;
}

.about__content{
    display: flex;
    height: 50vh;
    margin: 2rem 6rem;
    gap: 0.5rem;
}

.about__inner{
    padding: 2rem;
    text-align: left;
    margin-left: 8rem;
    flex: 1 1 50%;
    background: #fff;
    border-radius: 3rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.about__inner p{
    text-align: center;
}

.about{display: flex;}

.about__img{
    margin: 2rem auto;
    width: 14rem;
    height: 16rem;
    border: 1px solid black;
    border-radius: 50%;
    background-image: url("image/profile.PNG");
    background-repeat: no-repeat;
    background-size: cover;
}

.about__content{
    display: flex;
    justify-content: center;
    padding: 10px;
}

.about__content ul{
    list-style-type: none;
}

.about__career{
    padding: 2rem;
    text-align: right;
    margin-right: 8rem;
    flex: 1 1 50%;
    background: #fff;
    border-radius: 3rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.about__career p{
    text-align: center;
}

.about__project{
    padding: 2rem;
    text-align: center;
    margin: 4rem;
    flex: 1 1 50%;
    background: #fff;
    border-radius: 3rem;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    height: 50vh;
}

.about__nav a{
    text-decoration: none;
    color: #333;
}

.about__inner a{
    text-decoration: none;
    color: #333;
}