body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    scroll-padding-top: 3rem;
}

html{
    font-size: 100%;
}

.head{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    z-index: 1000;
    padding: 0 1rem;
    background: #fdfdfd;
}

.head__nav{
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;
    display: flex;
    align-items: center;
    padding-left: 1rem;
}

.head__nav__list{
    cursor: pointer;
    list-style: none;
    display: flex;
    gap: 3rem;
}

.head__title{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.head__title a{
    text-decoration: none;
    color: #333;
}

.head__nav__list a{
    text-decoration: none;
    color: #333;
}

.head__icon{
}

.main__line{
    margin: 0 5rem;
    border-bottom: 1px solid #bbb;
}

.head__menu{
    display: none;
    font-size: 2rem;
    cursor: pointer;
    color: #333;
}

/* 모바일 */

@media (max-width : 1200px) {
    html{
        font-size: 93.75%;
    }
}
@media (max-width : 768px) {
    html{
        font-size: 87.5%;
    }

    .main__line {
        margin: 0 2rem;
    }

    .head__nav__list{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        display: none;
        flex-direction: column;
        background: #fff;
        padding: 0;
        margin: 0;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }

    .head__nav__list.active{
        display: flex;
    }

    .head__menu{
        display: block;
    }

    .head__title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    }

    .head{
        position: relative;
        justify-content: space-between;
        height: 3rem;
        padding: 0 1rem;
    }
}
@media (max-width : 480px) {
    html{
        font-size: 81.25%;
    }
}