body{
    margin: 0;
    padding-top: 3rem;
    box-sizing: border-box;
    line-height: 1.5;
    font-family: system-ui, -apple-system, sans-serif;
    background: #fdfdfd;
}

.head__nav__list a{
    text-decoration: none;
    color: #333;
}

.head{
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 3rem;
    padding: 0 1rem;
    border-bottom: 1px solid #fff;
    /* z-index : 다른 요소보다 맨 위로 올라오게 설정하는 방법 */
    z-index: 1000;
}

.head__nav__list{
    cursor: pointer;
    list-style-type: none;
    display: flex;
    gap: 3rem;
    font-size: 0.8rem;
}

.head__title{
    cursor: pointer;
    font-size: 1.4rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head__icon{
}

.main__line{
    margin: 0 5rem;
    border-bottom: 1px solid #bbb;
}