/* .main__image{
    display: flex;
    height: 70vh;
    width: 100%;
    background-image: url("image/webpage1.png");
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
} */
main{
    padding-top: 3rem;
    color: #333;
}

.main__image_guide{
    font-size: 2rem;
    color: #b3b3b3;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.1;
}

.main__tech{
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4rem;
    font-size: 1.3rem;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main__tech p{
    color: #777;
    animation: WhiteColor 6s ease-in-out infinite;
    opacity: 0.5;
}

@keyframes WhiteColor{
    0%, 10%, 70%, 100% {
        color: #777;
        opacity: 0.5;
    }
    40% {
        color: #fff;
        opacity: 1;
    }
}

.main__tech p:nth-child(1){animation-delay: 0s;}
.main__tech p:nth-child(2){animation-delay: 1s;}
.main__tech p:nth-child(3){animation-delay: 2s;}
.main__tech p:nth-child(4){animation-delay: 3s;}
.main__tech p:nth-child(5){animation-delay: 4s;}
.main__tech p:nth-child(6){animation-delay: 5s;}


.main__intro{
    display: flex;
    height: 30vh;
    padding: 1rem;
    justify-content: center;
    gap: 5rem;
}

.main__intro__content{
    padding-top: 2rem;
    font-size: 1.2rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (max-width: 768px) {
    .main__intro {
        flex-direction: column;
        gap: 2rem;
    }
    
    .main__intro__content {
        position: static;
        transform: none;
        text-align: center;
        padding: 2rem 1rem;
    }

    .main__tech {
        font-size: 1rem;
        flex-wrap: wrap;
        gap: 1.2rem;
    }

    main {
        padding-top: 3rem;
    }

    .main__image{
        background-position: top center;
    }
}