.project__title{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 1.4rem;
}

.project__subtitle__small{
    margin-top: 10px;
    font-size: 0.95rem;
}

.project__line{
    padding-top: 2rem;
    display: flex;
    width: 100px;
    margin: 0 auto;
    border-bottom: 1px solid;
}

.project__nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 30px;
}

.project__nav li{
    cursor: pointer;
}

.project__content{
    column-count: 3;
    column-gap: 20px;
    margin : 0 auto;
    max-width: 1200px;
}

.project__content *{
    border: 1px dashed;
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
    transform: 0.3s;
}

.project__content:hover {
    color: #333;
}

.project__content.short{
    height: 200px;
}

.project__content.medium{
    height: 350px;
}

.project__content.tall{
    height: 450px;
}

@media (min-width: 1200px) {
    .project__content{
        column-count: 4;
    }
}

@media (min-width: 768px) {
    .project__content{
        column-count: 3;
    }
}

.project__nav a{
    text-decoration: none;
    color: #333;
}